In [1]:
from datetime import datetime
# importing moules
import os
import pandas as pd
import matplotlib
import numpy as np
from re import search
import matplotlib.pyplot as plt
from datetime import date
import seaborn as sns
import math

In [2]:
scz_demo = pd.read_csv('/Users/valena17/DataGripProjects/msdw2/output/scz_patients_demo.csv')
print(scz_demo['PrimaryMrn'].nunique())

24748

In [3]:
scz_demo = scz_demo.replace(['Unknown', '*Unknown','*Unspecified', 'Choose not to disclose', 'Not recorded on birth certificate',
                     '*Not Applicable', 'Indeterminate', 'Uncertain', 'UNKNOWN', 'PATIENT DECLINED'],
                    np.nan)

In [4]:
scz_demo['Ethnicity_v2'] = scz_demo['Ethnicity']
scz_demo.Ethnicity_v2 = scz_demo.Ethnicity_v2.replace(['Puerto Rican', 'Dominican', 'Latin American', 'Cuban', 'Ecuadorian',
                                                         'Mexican', 'Colombian','Mexican American', 'Criollo', 'Honduran', 'Panamanian',
                                                         'Chilean', 'Central American','South American', 'Guatemalan', 'Venezuelan',
                                                         'Uruguayan', 'Peruvian'],
                    ['Hispanic or Latino', 'Hispanic or Latino', 'Hispanic or Latino', 'Hispanic or Latino',
                     'Hispanic or Latino', 'Hispanic or Latino', 'Hispanic or Latino', 'Hispanic or Latino',
                     'Hispanic or Latino', 'Hispanic or Latino', 'Hispanic or Latino', 'Hispanic or Latino',
                     'Hispanic or Latino', 'Hispanic or Latino', 'Hispanic or Latino', 'Hispanic or Latino',
                     'Hispanic or Latino', 'Hispanic or Latino'])
scz_demo.Ethnicity_v2.value_counts(dropna=False)

NaN                       24348
Not Hispanic or Latino      268
Hispanic or Latino          132
Name: Ethnicity_v2, dtype: int64

In [5]:
scz_demo['Race'] = scz_demo['FirstRace']
scz_demo.Race = scz_demo.Race.replace(['AMERICAN INDIAN OR ALASKAN', 'Hispanic/Latino', 'Hispanic', 'AFRICAN-AMERICAN', 'OTHER',
                               'PATIENT DECLINED', 'WHITE', 'ASIAN INDIAN', 'CHINESE', 'KOREAN', 'CHINESE AMERICAN', 'VIETNAMESE',
                               'OTHER: NORTH AFRICAN', 'JAPANESE', 'NATIVE HAWAIIAN', 'OTHER PACIFIC ISLANDER', 'THAI',
                               'PAPUA NEW GUINEAN', 'GUINEAN', 'FILIPINO', 'FILIPINO AMERICAN', 'BANGLADESHI', 'UGANDAN', 'PAKISTANI',
                               'WEST INDIAN', 'TRINIDADIAN', 'JAMAICAN', 'HAITIAN', 'TAIWANESE', 'NIGERIAN', 'ETHIOPIAN',
                               'DOMINICA ISLANDER', 'GRENADIAN', 'MADAGASCAR', 'POLYNESIAN', 'SRI LANKAN', 'INDONESIAN', 'MALIAN',
                               'GHANAIAN', 'BARBADIAN', 'TAHITIAN', 'ST VINCENTIAN', 'TOKELAUAN',
                               'Black or African-American', 'Asian (Pacific Islander)', 'LAOTIAN', 'CONGOLESE', 'Native American',
                               'OTHER: WEST AFRICAN', 'BHUTANESE', 'CAMBODIAN', 'Pacific Islander', 'OKINAWAN', 'NEW HEBRIDES',
                               'KENYAN', 'MARIANA ISLANDER', 'SENEGALESE', 'MARSHALLESE', 'BURMESE', 'GABONIAN', 'MALAYSIAN',
                               'TOGOLESE', 'OTHER: EAST AFRICAN', 'LIBERIAN', 'SOMALIAN', 'SUDANESE', 'HMONG', 'MICRONESIAN',
                               'NEPALESE', 'Black or African American', 'OTHER: SOUTH AFRICAN'],
                  ['American Indian or Alaska Native', 'Hispanic or Latino', 'Hispanic or Latino', 'Black or African-American', 'Other Race', 'Decline to Answer', 'White', 'Asian', 'Asian', 'Asian', 'Asian', 'Asian', 'Black or African-American', 'Asian', 'Native Hawaiian or Other Pacific Islander', 'Native Hawaiian or Other Pacific Islander', 'Asian', 'Native Hawaiian or Other Pacific Islander', 'Native Hawaiian or Other Pacific Islander', 'Native Hawaiian or Other Pacific Islander','Native Hawaiian or Other Pacific Islander', 'Asian', 'Black or African-American', 'Asian', 'Asian', 'Mixed racial group', 'Black or African-American', 'Black or African-American', 'Asian', 'Black or African-American', 'Black or African-American', 'Black or African-American', 'Black or African-American', 'Black or African-American', 'Native Hawaiian or Other Pacific Islander', 'Asian', 'Asian', 'Black or African-American', 'Black or African-American', 'Black or African-American', 'Native Hawaiian or Other Pacific Islander', 'Black or African-American', 'Native Hawaiian or Other Pacific Islander',
                   'Black or African-American', 'Native Hawaiian or Other Pacific Islander', 'Asian', 'Black or African-American',
                   'American Indian or Alaska Native', 'Black or African-American', 'Asian', 'Asian',
                   'Native Hawaiian or Other Pacific Islander', 'Asian', 'Native Hawaiian or Other Pacific Islander',
                   'Black or African-American', 'Native Hawaiian or Other Pacific Islander', 'Black or African-American',
                   'Native Hawaiian or Other Pacific Islander', 'Asian', 'Black or African-American', 'Asian',
                   'Black or African-American', 'Black or African-American', 'Black or African-American', 'Black or African-American',
                   'Black or African-American', 'Asian', 'Native Hawaiian or Other Pacific Islander', 'Asian', 'Black or African-American', 'Black or African-American'])
scz_demo.Race.value_counts(dropna=False)

Black or African-American                    7701
Other Race                                   6527
NaN                                          4883
White                                        4632
Asian                                         653
Hispanic or Latino                            169
Native Hawaiian or Other Pacific Islander     124
American Indian or Alaska Native               42
Mixed racial group                             17
Name: Race, dtype: int64

In [6]:
scz_demo['Merged_Gender'] = scz_demo['GenderIdentity']
scz_demo['Merged_Gender'] = scz_demo['Merged_Gender'].fillna(scz_demo['Sex'])
scz_demo.Merged_Gender.value_counts(dropna=False)

Male                     13686
Female                   10908
Non-binary                  49
Transgender Female          48
Transgender Male            25
Gender Non-conforming       16
Gender Queer                10
Other                        5
NaN                          1
Name: Merged_Gender, dtype: int64

In [7]:
def multiracial(x):
    if x.MultiRacial == 1:
        return 'Mixed racial group'
    if x.Ethnicity_v2 == 'Hispanic or Latino' and x.Race == 'Other Race':
        return 'Hispanic or Latino'
    if x.Ethnicity_v2 == 'Hispanic or Latino' and x.Race == 'NaN':
            return 'Hispanic or Latino'
    else:
        return x.Race

# scz_notes = scz_notes.apply(multiracial)
scz_demo['Race_2'] = scz_demo.apply(lambda row: multiracial(row), axis=1)
scz_demo.Race_2.value_counts(dropna=False)

Black or African-American                    7585
Other Race                                   6368
NaN                                          4872
White                                        4606
Asian                                         623
Hispanic or Latino                            275
Mixed racial group                            260
Native Hawaiian or Other Pacific Islander     119
American Indian or Alaska Native               40
Name: Race_2, dtype: int64

In [8]:
scz_demo_black = scz_demo[scz_demo['Race_2'] == 'Black or African-American']
scz_demo_black_female = scz_demo_black[scz_demo_black['Merged_Gender'] == 'Female']
scz_demo_black_male = scz_demo_black[scz_demo_black['Merged_Gender'] == 'Male']

scz_demo_white = scz_demo[scz_demo['Race_2'] == 'White']
scz_demo_white_female = scz_demo_white[scz_demo_white['Merged_Gender'] == 'Female']
scz_demo_white_male = scz_demo_white[scz_demo_white['Merged_Gender'] == 'Male']

print(scz_demo_black_female['PrimaryMrn'].nunique(),
      scz_demo_black_male['PrimaryMrn'].nunique(),
      scz_demo_white_female['PrimaryMrn'].nunique(),
      scz_demo_white_male['PrimaryMrn'].nunique())

3270 4266 2063 2495

In [9]:
print(scz_demo[scz_demo['Race'] == 'Other Race'].Ethnicity_v2.value_counts(dropna=False),
      scz_demo[scz_demo['Ethnicity_v2'] == 'Hispanic or Latino'].Race.value_counts(dropna=False),
      scz_demo.Race.value_counts(dropna=False),
      scz_demo.Ethnicity_v2.value_counts(dropna=False),
      scz_demo.MultiRacial.value_counts(dropna=False))

NaN                       6403
Hispanic or Latino         106
Not Hispanic or Latino      18
Name: Ethnicity_v2, dtype: int64 Other Race                   106
White                         12
Black or African-American      9
NaN                            3
Asian                          2
Name: Race, dtype: int64 Black or African-American                    7701
Other Race                                   6527
NaN                                          4883
White                                        4632
Asian                                         653
Hispanic or Latino                            169
Native Hawaiian or Other Pacific Islander     124
American Indian or Alaska Native               42
Mixed racial group                             17
Name: Race, dtype: int64 NaN                       24348
Not Hispanic or Latino      268
Hispanic or Latino          132
Name: Ethnicity_v2, dtype: int64 0    24504
1      244
Name: MultiRacial, dtype: int64

In [11]:
scz_demo

,PrimaryMrn,AgeInYears,BirthDate,PreferredLanguage,Sex,SexAssignedAtBirth,GenderIdentity,Ethnicity,FirstRace,SecondRace,ThirdRace,MultiRacial,SexualOrientation,Ethnicity_v2,Race,Merged_Gender,Race_2
0,1003157,63,1959-02-26,English,Male,NaN,NaN,NaN,OTHER,NaN,NaN,0,Straight,NaN,Other Race,Male,Other Race
1,1003377,58,1964-11-08,English,Female,NaN,NaN,NaN,AFRICAN-AMERICAN,NaN,NaN,0,NaN,NaN,Black or African-American,Female,Black or African-American
2,1003711,49,1973-10-05,English,Female,NaN,NaN,NaN,AFRICAN-AMERICAN,NaN,NaN,0,NaN,NaN,Black or African-American,Female,Black or African-American
3,1004418,54,1968-10-06,NaN,Male,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,Male,NaN
4,1006438,48,1974-07-21,English,Male,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,Male,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24743,K155495,35,1987-10-17,English,Male,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,Male,NaN
24744,K156926,29,1993-02-21,English,Male,NaN,NaN,NaN,OTHER,NaN,NaN,0,NaN,NaN,Other Race,Male,Other Race
24745,K161108,46,1976-06-30,Spanish,Male,NaN,NaN,NaN,OTHER,NaN,NaN,0,NaN,NaN,Other Race,Male,Other Race
24746,V724454,66,1956-03-25,English,Male,Male,Male,NaN,OTHER,NaN,NaN,0,NaN,NaN,Other Race,Male,Other Race
24747,X300004,63,1960-01-20,English,Male,NaN,NaN,NaN,WHITE,NaN,NaN,0,NaN,NaN,White,Male,White

In [13]:
scz_demo_clean = scz_demo.dropna(subset = ['Race_2', 'Merged_Gender', 'PrimaryMrn'])

,PrimaryMrn,AgeInYears,BirthDate,PreferredLanguage,Sex,SexAssignedAtBirth,GenderIdentity,Ethnicity,FirstRace,SecondRace,ThirdRace,MultiRacial,SexualOrientation,Ethnicity_v2,Race,Merged_Gender,Race_2
0,1003157,63,1959-02-26,English,Male,NaN,NaN,NaN,OTHER,NaN,NaN,0,Straight,NaN,Other Race,Male,Other Race
1,1003377,58,1964-11-08,English,Female,NaN,NaN,NaN,AFRICAN-AMERICAN,NaN,NaN,0,NaN,NaN,Black or African-American,Female,Black or African-American
2,1003711,49,1973-10-05,English,Female,NaN,NaN,NaN,AFRICAN-AMERICAN,NaN,NaN,0,NaN,NaN,Black or African-American,Female,Black or African-American
5,1007012,48,1974-09-18,English,Female,Female,Female,Puerto Rican,OTHER,NaN,NaN,0,Straight,Hispanic or Latino,Other Race,Female,Hispanic or Latino
6,1007542,35,1987-04-02,English,Male,NaN,NaN,NaN,OTHER,NaN,NaN,0,NaN,NaN,Other Race,Male,Other Race
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24742,K153194,28,1994-05-01,English,Male,NaN,NaN,NaN,AFRICAN-AMERICAN,NaN,NaN,0,NaN,NaN,Black or African-American,Male,Black or African-American
24744,K156926,29,1993-02-21,English,Male,NaN,NaN,NaN,OTHER,NaN,NaN,0,NaN,NaN,Other Race,Male,Other Race
24745,K161108,46,1976-06-30,Spanish,Male,NaN,NaN,NaN,OTHER,NaN,NaN,0,NaN,NaN,Other Race,Male,Other Race
24746,V724454,66,1956-03-25,English,Male,Male,Male,NaN,OTHER,NaN,NaN,0,NaN,NaN,Other Race,Male,Other Race
24747,X300004,63,1960-01-20,English,Male,NaN,NaN,NaN,WHITE,NaN,NaN,0,NaN,NaN,White,Male,White

In [18]:
scz_demo_clean2 = scz_demo_clean[['PrimaryMrn', 'AgeInYears', 'BirthDate', 'PreferredLanguage', 'SexualOrientation', 'Merged_Gender', 'Race_2']]
scz_demo_clean2.rename(columns={'Merged_Gender' : 'Gender', 'Race_2' : 'Race_Ethnicity'})

,PrimaryMrn,AgeInYears,BirthDate,PreferredLanguage,SexualOrientation,Gender,Race_Ethnicity
0,1003157,63,1959-02-26,English,Straight,Male,Other Race
1,1003377,58,1964-11-08,English,NaN,Female,Black or African-American
2,1003711,49,1973-10-05,English,NaN,Female,Black or African-American
5,1007012,48,1974-09-18,English,Straight,Female,Hispanic or Latino
6,1007542,35,1987-04-02,English,NaN,Male,Other Race
...,...,...,...,...,...,...,...
24742,K153194,28,1994-05-01,English,NaN,Male,Black or African-American
24744,K156926,29,1993-02-21,English,NaN,Male,Other Race
24745,K161108,46,1976-06-30,Spanish,NaN,Male,Other Race
24746,V724454,66,1956-03-25,English,NaN,Male,Other Race
24747,X300004,63,1960-01-20,English,NaN,Male,White

In [19]:
scz_demo_clean2.to_csv('../data/scz_patients_demo_clean.csv', index = False)
#last saved 1/22/23